h4 {font-size: 120%;
font-family: 'Langar', cursive;
}

h1{
	font-family: 'Bungee Outline', cursive;
}

h2 {
	font-family: 'Bungee Outline', cursive;
}

p {font-family: 'Playfair Display', serif;	
	}
	


